@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Lexend+Deca&display=swap');




* {
    scroll-behavior: smooth;
}

.font-rubik {
    font-family: "Rubik Dirt", system-ui;
}

.font-didact {
    font-family: "Didact Gothic", system-ui;
}

.across {
    clip-path: polygon(100% 0, 0% 100%, 0 0);
}

.rev-across {
    clip-path: polygon(0 0, 100% 100%, 0 100%);
}

.shadow-2 {
    box-shadow: 8px 10px 8px 8px rgba(0, 0, 0, 0.2);
}

.shadow-3 {
    box-shadow: 10px -10px #FF92C9;
}

.drop-1 {
    text-shadow: 3px 3px black;
}